.accordion-container {
    flex: 1;
    padding: 20px;
   
    color: #fff; 
    font-weight: bold;
    width: 20%; 
  }
  .product-list{
    width: 100%;
  }

  .form-check-input {
    
    border: 2px solid black; 
  }

 
.accordion {
    max-width: 200px; 
  }

 
.products-container {
    display: flex;
  }
  
  
  .product-container {
    flex: 1; 
    padding: 20px; 
    width: 800px; 
    margin: 0 auto; 
  }
  
 
  
  
  .product {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  width: calc(33.33% - 20px); 
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
}

.middle {
  padding: 10px;
}

.productname {
  font-weight: bold;
  font-size: 14px; 
  margin: 5px 0;
}

brand {
  font-weight: bold;
  font-size: 12px; 
}

.price {
  font-weight: bold;
  font-size: 16px; 
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.button {
  background-color: #333;;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.search-bar {
  margin: 20px;
}

.search-bar .form-control {
  background-color: #333; /* Dark background */
  border: 1px solid #555; /* Dark border */
  color:white; /* Light color for text */
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.search-bar .form-control::placeholder {
  color: #888; /* Darkened placeholder text */
}

.search-bar .form-control:focus {
  border-color: #888; /* Darker border on focus */
  outline: none;
}
