

  .profile-container-nav {
    display: flex;
    height: 100vh; 
  }
  
  .profile-sidebar {
    flex: 0 0 250px; 
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    overflow-y: auto; 
  }
  
  .profile-sidebar a {
    text-decoration: none;
    color: #fff;
  }
  
  .profile-sidebar a:hover {
    color: #007bff;
  }
  
  .profile-content {
    flex: 1; 
    padding: 20px;
    overflow-y: auto; 
    background-color: #f0f0f0;
  }
  
    .profile-content .container {
      max-width: 100%; 
    }
    
    
    
    
    .profile-card {
      background-color: #f9f9f9; 
      border: 1px solid #ddd; 
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    
    .profile-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .profile-pic {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    
    .profile-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .edit-button {
      background-color: #007bff;
      color: #fff; 
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s; 
    }
    
    .edit-button:hover {
      background-color: #0056b3; }
    
    
    @media (max-width: 768px) {
      .profile-sidebar {
        width: 100%; 
      }
    }

    
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 18px;
  margin-bottom: 16px; 
}


.nav-item svg {
  font-size: 24px;
}

